* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid red;  */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.bottone {
  display: inline-block;
  padding: 2px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #0061ff;
  color: white;
}

.bottone-header {
  margin: 20px;
}

.bottone-jumbo {
  background-color: #0061ff;
  padding: 10px;
  color: white;
  margin-bottom: 40px;
}

.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-due {
  max-width: 1200px;
  margin: 0 auto;
  width: 985px;
}

/*header*/
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white;
  box-shadow: 0 1px 3px grey;
}

header ul {
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
  align-items: center;
  margin-left: 5px;
}

nav {
  display: flex;
}

header nav a {
  text-decoration: none;
  color: #505050;
  padding: 30px;
}

main {
  padding-top: 80px;
  height: 8000px;
}

main .jumbotron {
  display: flex;
  background-color: #B4D0E7;
  height: 750px;
}

main .jumbotron .container .titolo {
  padding-top: 100px;
  padding-bottom: 60px;
  font-weight: 750;
  font-size: 3.3rem;
}

main .jumbotron .container .jumbo-down {
  display: flex;
  color: #505050;
  text-align: left;
}

main .jumbotron .container .jumbo-down .jumbo-down-sinistra {
  width: 60%;
}

main .jumbotron .container .jumbo-down .jumbo-down-sinistra p {
  padding-bottom: 40px;
}

main .jumbotron .container .jumbo-down .jumbo-down-sinistra span {
  display: block;
  margin-bottom: 100px;
}

main .jumbotron .container .jumbo-down .jumbo-down-sinistra i {
  font-size: 3rem;
}

main a {
  text-decoration: none;
  color: white;
}

main .container-due .titolo-h2 {
  margin-top: 180px;
  margin-bottom: 80px;
  font-size: 2.5rem;
}

main .container-due .fatturazione {
  margin-bottom: 50px;
}

.fa-circle {
  margin-left: 60px;
}

/*card*/

main .container-due .cards {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

main .container-due .cards-strette {
  width: calc(100% / 3);
  border: 1px solid #D0D0D3;
  height: 950px;
}

main .container-due .cards-strette .inizio-card {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #D0D0D3;
}

main .container-due .cards-strette .interno-card {
  padding: 35px 25px;
}

main .container-due .cards-strette .interno-card h3 {
  font-weight: bold;
  margin-bottom: 25px;
}

main .container-due .cards-strette .interno-card .prezzo {
  font-weight: bold;
}

main .container-due .cards-strette .interno-card .mese {
  padding-top: 10px;
}

main .container-due .cards-strette .interno-card .piano {
  display: flex;
  padding-top: 45px;
  margin-bottom: 20px;
}

main .container-due .cards-strette .interno-card p {
  padding-right: 5px;
  font-size: 0.9rem;
}

main .container-due .cards-strette .interno-card .piano ul {
  list-style: none;
  font-size: 0.8rem;
}

main .container-due .cards-strette .interno-card .piano ul li {
  display: flex;
  padding-bottom: 20px;
}

main .container-due .cards-strette .interno-card .acquista {
  margin-top: 40px;
}


main .container-due .cards-strette .interno-card .acquista a {
  color: #0061ff;
}

main .container-due .cards-strette .interno-card .punti-salienti {
  padding-top: 45px;
  margin-bottom: 20px;
}

main .container-due .cards-strette .interno-card .punti-salienti h4 {
  margin-bottom: 40px;
}

main .container-due .cards-strette .interno-card .punti-salienti ul {
  list-style: none;
}

main .container-due .cards-strette .interno-card .punti-salienti ul li {
  display: flex;
  padding-bottom: 20px;
}

main .container-due .cards-strette .interno-card .punti-salienti ul li i {
  color: #0061ff;
  padding-right: 10px;
}

.container-due .team h5 {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  border: 2px solid #D0D0D3;
  width: 100%;
}

.container-due .enterprise {
  position: relative;
  border: 2px solid #D0D0D3;
  padding: 30px 30px 30px 30px;
  min-height: 200px;
}

.container-due .enterprise h3 {
  padding-bottom: 20px;
}

.container-due .enterprise h4 {
  padding-bottom: 40px;
}

.container-due .enterprise p {
  width: 600px;
}

.enterprise .bottone-enterprise {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px 30px 10px 30px;
}

.box-partner {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.box-partner .partner-text {
  width: 65%;
  padding-top: 40px;
  padding-left: 40px;
}

.box-partner .partner-text p {
  line-height: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partner-text .bottone-partner {
  background-color: white;
  border: 2px solid black;
  color: black;
}

/*  alternativa
.tanti-quadratini h2 {
  font-size: 35px;
}

.tanti-quadratini-1 {
  width: calc(1802px / 6);
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 25px;
}

.tanti-quadratini-1 h3 {
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 20px;
} */

main .container-due .business h2 {
  font-size: 2.5rem;
}

main .container-due .business
.business-insertion {
  display: flex;
  flex-wrap: wrap;
}

main .container-due .business .business-insertion .img-business {
  text-align: center;
  padding-top: 50px;
}

main .container-due .business
.business-insertion img {
  width: 300px;
  align-items: center;
}

main .container-due .business
.business-insertion .box-business {
  width: calc(100% / 3);
  padding-right: 50px;
}

main .container-due .business
.business-insertion .box-business h3 {
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.scopri-di-più h2 {
  font-size: 2.5rem;
  padding-top: 150px;
  padding-bottom: 40px;
  width: 580px;
}

.link-scopri-di-più a {
  color: blue;
  text-decoration: underline;
}

main .layout {
  margin-top: 120px;
  display: flex;
}

main .layout img {
  width: 200px;
}

main .layout .layout-sinistra {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
  height: 30vw;
}

.layout .layout-centrale {
  width: calc(100% / 3);
  display: flex;
  background-color: #f5f5f5;
}

main .layout-centrale .centro-logo img{
  width: 300px;
}

main .layout-centrale .centro-logo {
  padding: 30px;
}

.layout .layout-destra {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
  height: 30vw;
}

main .layout .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.active:active {
  border: 20px solid rgba(0, 0, 0, 0.5);
}

main .layout .quadrato-1 {
  background-color: #a2d39b;
}

main .layout .quadrato-2 {
  background-color: #61082b;
}

main .layout .quadrato-3 {
  background-color: #0093ce;
}

main .layout .quadrato-4 {
  background-color: #ff1c1c;
}

main .layout .quadrato-5 {
  background-color: #d5001f;
}

main .layout .quadrato-6 {
  background-color: #b4d0e7;
}

main .layout .quadrato-7 {
  background-color: #0d2481;
}

main .layout .quadrato-8 {
  background-color: #ffd830;
}

.prova-gratuita {
  background-color: #b4d0e7;
  padding: 100px 0;
}

.prova-gratuita-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.prova-gratuita-container h3 {
  color: #61082b;
  font-size: 2.8rem;
  flex-basis: 60%;
}

.prova-gratuita-container
.bottone-prova-gratuita {
  padding: 10px 30px;
  background-color: white;
  color: black;
  border: none;
}